.img-1{
    width: 350px;
    height: 350px;
}
.img-2{
    width: 350px;
    height: 350px;
}
.img-3{
    width: 350px;
    height: 350px;
}
.img-4{
    width: 350px;
    height: 350px;
}